[mysqld]
wsrep_on=ON
wsrep_provider=/usr/lib/x86_64-linux-gnu/galera-4/libgalera_smm.so
wsrep_cluster_name=galera_claster
wsrep_cluster_address=gcomm://{{ galera_nodes | map(attribute='name') | join(',') }}
wsrep_node_name={{ item.name }}
wsrep_node_address={{ item.name }}
wsrep_sst_method=rsync


binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2